# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

*.rb
#SASS_CACHE_FILE
.sass-cache
#SVN_FILE
.svn
#INTELLIJ
*.iml

**/.sass-cache
**/node_modules
**/dist
**/mongo
.sublime-grunt.cache